@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,700&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000;
  font-weight: 400;
  line-height: 1.3;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
svg {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

abbr[title],
abbr[data-bs-original-title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-dark-blue: hsl(238, 70%, 29%);
  --color-light-blue: hsl(238, 70%, 45%);
  --color-brighter-blue: hsl(221, 70%, 45%);
  --color-yellow-dark: hsl(41, 78%, 57%);
  --color-light-grey: hsl(0, 0%, 96%);
  --color-red: hsl(0, 86%, 35%);
  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400;
  --bg-light-blue: var(--color-light-blue);
  --bg-black: var(--color-black);
  --bg-white: var(--color-white);
  --fc-light: var(--color-white);
  --fc-dark: var(--color-black);
  --accent: var(--color-yellow-dark);
  --error-color: var(--color-red);
  --bold-font-weight: var(--fw-700);
  --medium-font-weight: var(--fw-500);
  --secondary-color: var(--color-dark-blue);
  --main-color-rgb: 56, 48, 163;
  --main-color-light-rgb: 67, 56, 202;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 76.875rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: var(--fc-light);
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  height: 1.875rem;
  padding-left: 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  width: 10px;
  height: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-white);
  --svg: url("../img/icons/down-arrow.svg");
  mask: var(--svg);
  -webkit-mask: var(--svg);
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 2.1875rem;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__asset {
  margin-right: 0.625rem;
}

.select__asset img {
  width: 1.625rem;
  vertical-align: middle;
}

.select__text {
  font-weight: 500;
}

.select._select-open {
  z-index: 1001;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.slide-up {
  opacity: 0;
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  -o-transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.slide-left {
  opacity: 0;
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: opacity 1s 0.5s, -webkit-transform 1s 0.5s;
  transition: opacity 1s 0.5s, -webkit-transform 1s 0.5s;
  -o-transition: transform 1s 0.5s, opacity 1s 0.5s;
  transition: transform 1s 0.5s, opacity 1s 0.5s;
  transition: transform 1s 0.5s, opacity 1s 0.5s, -webkit-transform 1s 0.5s;
}

.slide-right {
  opacity: 0;
  -webkit-transform: translateX(200px);
      -ms-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: opacity 1s 0.5s, -webkit-transform 1s 0.5s;
  transition: opacity 1s 0.5s, -webkit-transform 1s 0.5s;
  -o-transition: transform 1s 0.5s, opacity 1s 0.5s;
  transition: transform 1s 0.5s, opacity 1s 0.5s;
  transition: transform 1s 0.5s, opacity 1s 0.5s, -webkit-transform 1s 0.5s;
}

._watcher-view.slide-left,
._watcher-view.slide-up,
._watcher-view.slide-right {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.swiper-slide-active .slide-left,
.swiper-slide-active .slide-right {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.mt-lg {
  margin-top: 6.25rem;
}

.mt-md {
  margin-top: 3.125rem;
}

.mt-sd {
  margin-top: 1.875rem;
}

.btn {
  padding: 0.625rem 1rem;
  border-radius: 5px;
  color: var(--fc-light);
  background-color: var(--accent);
  -webkit-box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.title-secondary {
  font-size: clamp(1.625rem, 6vw, 2.125rem);
  font-weight: 700;
  color: var(--fc-dark);
}

.title-secondary::after {
  content: "";
  display: block;
  width: 2.8125rem;
  height: 2px;
  background-color: var(--accent);
  margin-top: 0.3125rem;
}

/**
 * Swiper 9.4.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: June 13, 2023
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
       -o-transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
          transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide,
swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  -ms-scroll-snap-type: none;
      scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@-webkit-keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header__top {
  background-color: var(--bg-black);
  color: var(--color-white);
  padding: 0.625rem 0;
}

.header__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  gap: 0.9375rem;
}

.header__icon {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 5px;
  fill: var(--color-white);
}

.header__link span {
  display: inline-block;
}

.header__body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.header__btn-icon {
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

.main-menu__item {
  font-weight: 500;
  font-size: 1.25rem;
  padding: 2.5rem 0;
}

.main-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navigation > li[data-dropdown],
.main-navigation > li[data-dropdown] > .submenu > li[data-dropdown] {
  position: relative;
}

.main-navigation > li[data-dropdown] > a,
.main-navigation > li[data-dropdown] > .submenu > li[data-dropdown] > a {
  position: relative;
}

.main-navigation > li[data-dropdown] > a::after,
.main-navigation > li[data-dropdown] > .submenu > li[data-dropdown] > a::after {
  content: "";
  width: 10px;
  height: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: var(--bg-black);
  --svg: url("../img/icons/down-arrow.svg");
  mask: var(--svg);
  -webkit-mask: var(--svg);
}

.main-navigation > li[data-dropdown] .submenu__link,
.main-navigation > li[data-dropdown] > .submenu > li[data-dropdown] .submenu__link {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-navigation > li[data-dropdown] .submenu__link::after,
.main-navigation > li[data-dropdown] > .submenu > li[data-dropdown] .submenu__link::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main-navigation > li[data-dropdown] > .submenu {
  top: 100%;
  left: 0;
}

.main-navigation > li[data-dropdown] > .submenu > li > ul {
  left: 100%;
  top: 0px;
}

.main-navigation > li[data-dropdown] > .submenu,
.main-navigation > li[data-dropdown] > .submenu > li > ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 18.75rem;
  position: absolute;
  z-index: 5;
  font-size: 0.9375rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgb(249, 249, 249);
  -webkit-box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-navigation > li[data-dropdown] > .submenu > li,
.main-navigation > li[data-dropdown] > .submenu > li > ul > li {
  padding: 0.75rem 0.9375rem;
}

.submenu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link-active {
  position: relative;
}

.link-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
}

li[data-dropdown].active-menu .submenu,
.main-navigation > li[data-dropdown] > .submenu > li[data-dropdown].active-menu .submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-box-shadow: none;
          box-shadow: none;
}

li[data-dropdown].active-menu a::after,
.main-navigation > li[data-dropdown] > .submenu > li[data-dropdown].active-menu a::after {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.header__container.sticky {
  max-width: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 0.625rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 0.625rem rgba(0, 0, 0, 0.2);
}

.sticky + * {
  padding-top: 90px;
}

.footer {
  font-size: 0.9375rem;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 3.125rem;
  padding: 1.25rem;
}

.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25rem;
          flex: 0 1 25rem;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.footer__title {
  font-size: 1.125rem;
  font-weight: 700;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid var(--bg-black);
}

.footer__menu-list {
  margin-top: 0.875rem;
}

.footer__menu-item:not(:first-child) {
  margin-top: 0.5rem;
}

.footer__menu-link {
  display: inline-block;
}

.footer__bottom {
  padding: 0.9375rem;
  text-align: center;
  background-color: var(--color-dark-blue);
  color: var(--fc-light);
}

.footer__social {
  margin-top: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
}

.footer__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-brighter-blue);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.footer__social-icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: white;
}

.info-footer__text {
  font-size: 0.9375rem;
  margin-bottom: 2.5rem;
}

.info-footer__location,
.info-footer__email,
.info-footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.info-footer__location {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info-footer__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.info-footer > *:not(:first-child) {
  margin-top: 0.9375rem;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.125rem;
          flex: 0 0 8.125rem;
  width: 8.125rem;
  height: auto;
}

.logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-menu {
  position: relative;
  display: none;
  width: 1.5625rem;
  height: 1.5625rem;
  cursor: pointer;
  z-index: 1000;
  background: transparent;
}

.icon-menu span {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.icon-menu span::before,
.icon-menu span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.icon-menu span::before {
  top: -0.5rem;
}

.icon-menu span::after {
  top: 0.5rem;
}

.menu-open .icon-menu {
  background-color: var(--bg-black);
  z-index: 1000;
}

.menu-open .icon-menu span {
  background-color: transparent;
}

.menu-open .icon-menu span::before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
  background-color: var(--bg-white);
}

.menu-open .icon-menu span::after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background-color: var(--bg-white);
  top: 0;
}

.form-contact fieldset:not(:first-child) {
  margin-top: 1.25rem;
}

.form-contact fieldset.form-contact__footer {
  margin-top: 1.25rem;
}

.form-contact__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-contact__input-block {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.form-contact__label {
  position: absolute;
  top: -0.875rem;
  left: 0.75rem;
  font-size: 1rem;
  font-weight: var(--medium-font-weight);
  color: var(--fc-dark);
  padding: 0.3125rem 0.625rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(50%, rgb(255, 255, 255)));
  background: -o-linear-gradient(top, #f7f7f7 0 50%, rgb(255, 255, 255) 50% 100%);
  background: linear-gradient(180deg, #f7f7f7 0 50%, rgb(255, 255, 255) 50% 100%);
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.form-contact__input,
.form-contact__message {
  width: 100%;
  padding: 0 1.25rem;
  height: 3.125rem;
  border: 1px solid var(--fc-dark);
  font-size: 1.125rem;
  outline: none;
  border-radius: 5px;
  -webkit-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;
}

.form-contact__input::-webkit-input-placeholder, .form-contact__message::-webkit-input-placeholder {
  font-size: 1.125rem;
}

.form-contact__input::-moz-placeholder, .form-contact__message::-moz-placeholder {
  font-size: 1.125rem;
}

.form-contact__input:-ms-input-placeholder, .form-contact__message:-ms-input-placeholder {
  font-size: 1.125rem;
}

.form-contact__input::-ms-input-placeholder, .form-contact__message::-ms-input-placeholder {
  font-size: 1.125rem;
}

.form-contact__input::placeholder,
.form-contact__message::placeholder {
  font-size: 1.125rem;
}

.form-contact__input:focus,
.form-contact__message:focus {
  border: 1px solid var(--secondary-color);
}

.form-contact__body {
  position: relative;
}

.form-contact__message {
  resize: none;
  height: 100%;
  padding: 1.25rem;
}

.form-contact__footer {
  text-align: center;
}

.form-contact__agree {
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-contact__agree a {
  font-weight: var(--bold-font-weight);
  display: inline-block;
}

.form-contact__agree-check {
  display: none;
}

.form-contact__agree-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 0.9375rem;
}

.form-contact__agree-text::before {
  content: "";
  display: block;
  width: 0.875rem;
  height: 0.875rem;
  border: 1px solid var(--secondary-color);
  margin-right: 0.3125rem;
  -webkit-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;
}

.form-contact__agree-text::after {
  position: absolute;
  top: 5px;
  left: 2px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--secondary-color);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.form-contact legend {
  display: none;
}

.form-contact__input:focus + .form-contact__label,
.form-contact__message:focus + .form-contact__label {
  color: var(--secondary-color);
}

.form-contact__agree-check:checked + .form-contact__agree-text::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form-field-error {
  border-color: var(--error-color);
}

.form-field-error + .form-contact__agree-text::before {
  border-color: var(--error-color);
}

.form-block-error {
  display: inline-block;
  color: var(--error-color);
  font-size: 0.8125rem;
  z-index: 30;
  padding: 0.3125rem 0.625rem 0;
  height: 1.125rem;
}

.form-loading {
  position: relative;
}

.form-loading::before {
  content: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.8125rem;
  height: 2.8125rem;
  background: url("../img/icons/spinner.svg") center center/cover no-repeat;
}

.form-loading--active::before {
  content: "";
}

.form-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem;
  padding: 0.625rem;
  text-align: center;
}

.grecaptcha-badge {
  visibility: hidden;
}

.scroll-up {
  position: fixed;
  z-index: 10;
  bottom: 0.9375rem;
  right: 0.9375rem;
  color: var(--secondary-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.875rem;
  height: 2.875rem;
  border: 1px solid currentColor;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  opacity: 0;
  -webkit-transform: scale(0.001, 0.001);
      -ms-transform: scale(0.001, 0.001);
          transform: scale(0.001, 0.001);
}

.scroll-up--visible {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.scroll-up__icon {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.scroll-up:focus {
  outline: 1px solid var(--secondary-color);
}

.scroll-up-anchor {
  position: absolute;
  right: 0;
  top: 30%;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main-slider {
  position: relative;
}

.main-slider__pagination {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0.625rem;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.main-slider__pagination .swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: var(--bg-white);
  cursor: pointer;
}

.main-slider__pagination .swiper-pagination-bullet-active {
  background-color: var(--accent);
}

.no-webp .slide-main{
  background: url("../img/slider/slider-bg1.jpg") top center/cover no-repeat; }

.slide-main__container {
  padding: 0.9375rem;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--fc-light);
}

.slide-main__title {
  font-size: clamp(1.5625rem, 5vw, 2.625rem);
  font-weight: 700;
}

.slide-main__subtitle {
  font-size: clamp(1.125rem, 3vw, 1.5rem);
  font-weight: 500;
}

.no-webp .slide-main--2{
  background: url("../img/slider/slider-bg2.jpg") top center/cover no-repeat; }

.no-webp .slide-main--3{
  background: url("../img/slider/slider-bg3.jpg") center center/cover no-repeat; }

.no-webp .slide-main--4{
  background: url("../img/slider/slider-bg4.jpg") center center/cover no-repeat; }

.services__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 3.75rem;
}

.item-service {
  position: relative;
  -webkit-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3);
}

.item-service__img-block {
  overflow: hidden;
}

.item-service__img {
  max-width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-transform 0.3s, -webkit-filter 0.3s;
  transition: -webkit-transform 0.3s, -webkit-filter 0.3s;
  -o-transition: transform 0.3s, filter 0.3s;
  transition: transform 0.3s, filter 0.3s;
  transition: transform 0.3s, filter 0.3s, -webkit-transform 0.3s, -webkit-filter 0.3s;
}

.item-service__caption {
  width: 95%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -2.5rem;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.item-service__title-block {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  padding: 0.625rem 0.625rem 0 0.625rem;
}

.item-service__title {
  font-size: 1.125rem;
}

.item-service__link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 95%;
  background-color: var(--accent);
  text-align: center;
  -webkit-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

.item-service__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
}

.item-service__link:link,
.item-service__link:visited {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  gap: 0.625rem;
  font-size: 0.875rem;
  text-decoration: underline;
}

.item-service:hover .item-service__link-block {
  top: 0;
}

.item-service:hover .item-service__img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.clients-slider {
  height: 6.25rem;
}

.clients-slider__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-clients__container {
  width: 12.5rem;
}

.slide-clients__img {
  max-width: 100%;
}

.achievements__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  gap: 1.25rem;
}

.achievements__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achievements__item lord-icon {
  width: 9.375rem;
  height: 9.375rem;
}

.achievements__description {
  font-size: 1.5rem;
  color: var(--accent);
}

.achievements__title {
  margin-top: 0.625rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-dark-blue);
}

.contacts {
  background-color: #f7f7f7;
  padding: 0.9375rem 0;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.875rem;
}

.contacts__map,
.contacts__contact-us {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 20px) / 2);
          flex: 0 1 calc((100% - 20px) / 2);
}

#map {
  height: 34.375rem;
}

@media (min-width: 61.99875em) and (hover: hover) and (pointer: fine) {
  .main-menu__item:hover > a,
  .main-menu__item:active > a {
    color: var(--accent);
  }

  .submenu__item:hover,
  .submenu__item:active {
    background-color: var(--color-light-grey);
  }

  .submenu__item:hover > a,
  .submenu__item:active > a {
    color: var(--accent);
  }

  .submenu__item:hover > a::after,
  .submenu__item:active > a::after {
    background-color: var(--accent) !important;
  }

  .main-navigation > li[data-dropdown]:hover ul,
  .main-navigation > li[data-dropdown] > .submenu > li:hover ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .main-navigation > li[data-dropdown]:hover a::after,
  .main-navigation > li[data-dropdown] > .submenu > li:hover a::after {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .header__top a {
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .header__top a:hover svg {
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    fill: lightblue;
  }

  .footer__menu-link,
  .info-footer__link,
  .header__link > span {
    -webkit-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
  }

  .footer__menu-link::after,
  .info-footer__link::after,
  .header__link > span::after {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--secondary-color);
    visibility: hidden;
    opacity: 0;
  }

  .footer__menu-link:hover,
  .info-footer__link:hover,
  .header__link > span:hover {
    color: var(--secondary-color);
  }

  .footer__menu-link:hover::after,
  .info-footer__link:hover::after,
  .header__link > span:hover::after {
    visibility: visible;
    opacity: 1;
    width: 100%;
  }

  .header__link > span::after {
    background-color: var(--accent);
  }

  .header__link > span:hover {
    color: var(--accent);
  }

  .footer__social-link .footer__social-block:hover {
    background-color: var(--accent);
  }

  .scroll-up:hover .scroll-up__icon {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
  }

  .btn:hover {
    background-color: var(--color-light-blue);
  }
}

@media (max-width: 76.875em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .header__address {
    display: none;
  }

  .header__btn {
    margin-left: auto;
  }

  .main-menu__item {
    width: 100%;
  }

  .main-navigation > li[data-dropdown] > a::after,
  .main-navigation > li[data-dropdown] > .submenu > li[data-dropdown] > a::after {
    width: 15px;
    height: 15px;
    --svg: url("../img/icons/down-arrow.svg");
    mask: var(--svg);
    -webkit-mask: var(--svg);
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .main-navigation > li[data-dropdown] > .submenu > li,
  .main-navigation > li[data-dropdown] > .submenu > li > ul > li {
    padding: 0.75rem 0.9375rem 0 0.9375rem;
    font-size: 1.0625rem;
  }

  .main-navigation > li[data-dropdown] > .submenu > li:first-child,
  .main-navigation > li[data-dropdown] > .submenu > li > ul > li:first-child {
    padding-top: 1.0625rem;
  }

  .main-navigation > li[data-dropdown] > .submenu,
  .main-navigation > li[data-dropdown] > .submenu > li > ul {
    width: 100%;
    max-width: none;
    max-height: 0;
    position: relative;
    background-color: transparent;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .main-navigation > li[data-dropdown] > .submenu > li > ul > li {
    line-height: 1.4;
    font-size: 1rem;
  }

  .link-active::after {
    content: none;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__map,
  .contacts__contact-us {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    padding: 0 0.9375rem;
  }

  #map {
    height: 19.375rem;
  }
}

@media only screen and (max-width: 61.99875em) {
  .icon-menu {
    display: block;
  }

  .main-menu {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    padding: 1.25rem;
    position: fixed;
    z-index: 3;
    top: 0;
    visibility: hidden;
    opacity: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--bg-white);
  }

  .main-menu__list {
    margin-top: 6.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.25rem;
  }

  .main-menu__item {
    color: var(--fc-dark);
    font-size: 1.25rem;
    padding: 0;
  }

  .menu-open .main-menu {
    right: 0;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }

  .mt-lg {
    margin-top: 3.75rem;
  }

  .mt-md {
    margin-top: 1.875rem;
  }

  .btn {
    padding: 0.625rem 0.6875rem;
    font-size: 0.9375rem;
  }

  .header__contacts span:not(.header__phone-text) {
    display: none;
  }

  .scroll-up {
    width: 2.1875rem;
    height: 2.1875rem;
  }

  .scroll-up__icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .achievements__item lord-icon {
    width: 6.875rem;
    height: 6.875rem;
  }

  .achievements__description {
    font-size: 1.25rem;
  }

  .achievements__title {
    font-size: 1rem;
  }
}

@media (max-width: 37.5em) {
  .header__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .footer__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 32.875em) {
  .form-contact__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .form-contact__input-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 31.25em) {
  .footer__top {
    padding: 1.25rem 0;
  }

  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .header__link .header__phone-text {
    display: none;
  }

  .header__btn span {
    display: none;
  }

  .header__btn-icon {
    display: block;
  }

  .form-contact__label {
    font-size: 0.8125rem;
  }

  .form-contact__input,
  .form-contact__message {
    font-size: 0.9375rem;
  }

  .form-contact__input::-webkit-input-placeholder, .form-contact__message::-webkit-input-placeholder {
    font-size: 0.9375rem;
  }

  .form-contact__input::-moz-placeholder, .form-contact__message::-moz-placeholder {
    font-size: 0.9375rem;
  }

  .form-contact__input:-ms-input-placeholder, .form-contact__message:-ms-input-placeholder {
    font-size: 0.9375rem;
  }

  .form-contact__input::-ms-input-placeholder, .form-contact__message::-ms-input-placeholder {
    font-size: 0.9375rem;
  }

  .form-contact__input::placeholder,
  .form-contact__message::placeholder {
    font-size: 0.9375rem;
  }

  .form-contact__agree-text::after {
    top: 3px;
  }

  .form-contact__agree-text {
    font-size: 0.75rem;
  }

  .contacts__map,
  .contacts__contact-us {
    padding: 0;
  }
}

@media (max-width: 22.1875em) {
  .form-contact__agree-text::after {
    top: 10px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: var(--color-light-grey);
  }
}

.webp .slide-main{ background: url(../img/slider/slider-bg1.webp) top center/cover no-repeat; }

.webp .slide-main--2{ background: url(../img/slider/slider-bg2.webp) top center/cover no-repeat; }

.webp .slide-main--3{ background: url(../img/slider/slider-bg3.webp) center center/cover no-repeat; }

.webp .slide-main--4{ background: url(../img/slider/slider-bg4.webp) center center/cover no-repeat; }